{% include "header.html" %}
<html><form action="{{url_for('addNewItem')}}" 
method = "POST">

<h2> Add New Item </h2>
<p>Name:</p>
<input type="text" name="name" required>
<p>Description:</p>
<input type="text" name = "description" required>
<select name="category_id" >
<option value="1">Soccer</option>
<option value="2">Basketball</option>
<option value="3">Baseball</option>
<option value="4">Frisbee</option>
<option value="5">Snowboarding</option>
<option value="6">Rockclimbing</option>
<option value="7">Foosball</option>
<option value="8">Skating</option>
<option value="9">Hockey</option>
</select>

<input type="submit" value="Add">
<a href="{{url_for('showCategoriesAndItems')}}">Cancel</a>


</form>
</html>